html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  background-color: green;
}

/* Button reset */
button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 48px;
  background-color: white;
  grid-gap: 3rem;
  min-height: 100vh;
}

.locked {
  height: 100vh;
  overflow: hidden;
}

/* Relocate dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  header,
  footer,
  .tray {
    background-color: rgba(0, 0, 0, 1) !important;
    /* backdrop-filter: blur(10px) !important; */
  }

  footer {
    border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
    background: rgba(255, 255, 255, 0.1) !important;
  }

  header,
  .list-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
  }

  .list-title {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }

  .container {
    background: black;
  }
}
