header {
  color: white;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-width: 320px;
  height: 48px;
  display: flex;
  justify-content: center;
}

header h1 {
  color: white;
}

header .content {
  padding: 0.25rem 0.75rem;
  width: 100%;
  max-width: 864px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .rotated {
  transform: rotate(-90deg);
}

header svg {
  transition: transform 0.35s ease-in-out;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

header h1 {
  padding: 0;
  margin: 0;
}

.tray {
  z-index: -1;
  background: green;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 48px;
  padding-bottom: 3rem;
  min-width: 200px;
  display: flex;
  transform: translateY(0%);
  transition: transform 0.35s ease-in-out, opacity 0.5s;
}

.tray.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.tray .menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  width: 100%;
  max-width: 864px;
  margin: 0 auto;
}

.tray .menu a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
