.introduction {
  color: white;
  max-width: 40ch;
  text-align: center;
}

.welcome {
  height: calc(100vh - 48px);
  margin-bottom: 3rem;
}

.main-image {
  height: 100%;
}

.large {
  max-width: 100%;
}
