.introduction {
  color: white;
  max-width: 40ch;
  text-align: center;
}

.welcome {
  height: calc(100vh - 48px);
  margin-bottom: 2rem;
}

.main_image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.large {
  max-width: 100%;
}
